<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <% @order.line_items.each do |item| %>
      <%= render 'list', product: item.product %>
    <% end %>
    <%= @order.total_cents * 0.01 %>
    <% if current_user %>
      <%= current_user.email%>
    <% end %>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
